<div class="container">
  <div class="card_links d-flex justify-content-end"><%= link_to cocktails_path do %>
    <i class="fas fa-arrow-left fa-2x"></i>
    <% end %>
  </div>
      <h1>What is your new cocktail?</h1>
      <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file, class: "button" %>
      <%= f.button :submit, class: "button" %>
      <% end %>
</div>


