<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<%= link_to "amazing universe of drinks", cocktails_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "New cocktail", new_cocktail_path(@cocktail), class: "nav-link" %>
      </li>
        </div>
    </ul>
  </div>
</div>
<div class="container_show">
  <div class="card_links d-flex bd-highlight">
    <h1 class="mr-auto bd-highlight">This is <%= @cocktail.name %> ! </h1>
    <%= link_to new_cocktail_dose_path(@cocktail) do%>
      <i class="fas fa-cocktail fa-2x  bd-highlight"></i>
        <%= link_to cocktails_path do %>
          <i class="fas fa-arrow-left fa-2x  bd-highlight"></i>
        <% end %>
    <% end %>
  </div>
  <div class="card_form">
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
    <% @cocktail.doses.each do |dose| %>
    <div class="card_info d-flex bd-highlight">
      <p class=" bd-highlight"><%= dose.ingredient.name %></p>
      <p class=" bd-highlight"><%= dose.description %></p>
      <%= link_to dose_path(dose), class: "card_links ml-auto bd-highlight", method: :delete, data: { confirm: "Are you sure?"} do %>
        <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
    <% end %>
</div>






